@media (min-width: 768px) {
    header {
        grid-template-columns: 1fr 3fr 1fr;

    }

    header h1 {
        text-align: center;
        margin-bottom: 5%;
    }

    #menu {
        top: .75em;
        right: .75em;
        font-size: 7vw;
    }

    nav a {
        font-size: 4vw;
    }

    #home-main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, auto);
    }

    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #intro {
        grid-column: 1/3;
        grid-row: 2/3;
        padding: 1%;
        font-size: 3.25vw;
        margin: 0;
    }

    .weather-card {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .weather-card h2 {
        font-size: 4vw;
    }

    #current-weather-condition-description, #current-temperature {
        font-size: 2.5vw;
    }

    #humidity {
        font-size: 2.25vw;
    }

    #current-temperature {
        align-self: center;
    }

    #todays-temperature-range{
        font-size: 1.60vw;
    }

    .specialty-drinks-counter {
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-coastal-area {
        grid-column: 1/3;
    }

    .about-coastal-area h2 {
        font-size: 4.5vw;
    }

    .about-coastal-area p {
        font-size: 3vw;
    }

    footer p {
        font-size: 2.5vw;
    }

    footer {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 1fr;
    }

    footer p:nth-of-type(1){
        grid-row: 1/2;
        margin: 2%;
        grid-column: 1/3;
    }

    footer p:nth-of-type(1) a {
        padding: 1%;
    }

    footer p:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    footer p:nth-of-type(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #social-media-links {
        padding: 1%;
        grid-row: 3/4;
        grid-column: 1/3;
    }

    #aboutus-main p {
        font-size: 3vw;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #fruit-selection {
        grid-column: 1/2;
        margin-right: 5%;
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fruit-selection-block {
        margin: 5%;
    }

    #nutrition-info {
        grid-column: 2/3;
        margin-left: 15%;
        font-size: 2.5vw;
    }
    
    nutrition-info p {
        margin: 5%;
    }

    #customer-info {
        grid-column: 1/3;
        margin: 0 15% 0 15%;
        font-size: 3vw;
    }

    #submit-container {
        grid-column: 1/3;
    }

    #submit {
        font-size: 5vw;
    }

    #confirmation-main p {
        font-size: 2.5vw;
    }

    #confirmation-main h2 {
        font-size: 5vw;
        margin-top: 0;
    }

    #order-time-message {
        font-size: 2.5vw;
    }

    #summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

    #summary h3 {
        text-align: center;
        font-size: 4vw;
        grid-column: 1/3;
        grid-row: 1/2;
        margin-bottom: 0;
        margin-top: 0;
    }

    #summary h4 {
        font-size: 3.5vw;
    }

    #summary p, li {
        font-size: 3vw;
    }

    #fruits-summary {
        text-align: center;
    }

    #special-instructions-container {
        display: block;
        grid-row: 3/4;
        grid-column: 1/3;
    }

    #special-instructions-container p:nth-of-type(1) {
        text-align: center;
    }

    #nutrition-info-confirmation div{
        margin-left: 30%;
    }

    #nutrition-info-confirmation h3 {
        text-align: center;
        font-size: 4vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    #review {
        font-size: 3.5vw;
    }

    #customer-service {
        text-align: center;
    }

    #resources-main h2 {
        font-size: 5vw;
    }

    #resources-main h3 {
        font-size: 4vw;
    }

    #resources-main h4 {
        font-size: 3vw;
    }

    #resources-main p {
        font-size: 2.5vw;
    }
}